.contact-info {
  i {
    color: black;
    margin-right: 10px;
    font-size: 16px;
  }
  display: flex;
  align-items: center;
}

.contact-info-left {
  display: flex;
  margin-right: 50px;
}

.contact-info-right {
  display: flex;
}

.map {
  margin-top: 10px;
  iframe {
    width: 80%;
  }
}
