body {
  h1, h6 {
    color: black;
    font-weight: 300;
  }
  h1 {
    font-size: 23px;
    margin: 0;
  }
  p {
    color: $gray;
    margin: 0;
    font-weight: 300;
    font-size: 14px;
  }
}

.page-wrapper {
  padding-top: 40px;
  flex: 1; /* takes the remaining height of the "container" div */
  overflow: auto; /* to scroll just the "main" div */

  padding-left: 100px;
  padding-right: 100px;

  display: flex;
  flex-direction: column;
}

.general-styling {
  padding: 0;
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
}

html, body {
  margin: 0;
  height: 100%; /* can also use viewport units (height: 100vh) */
}

.page-left {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 0;

}

.page-right {
  padding: 0;
}


.roboto-black-big {
  h1 {
    color: black;
  }
}

.roboto-gray-small {
  h1 {
    color: $gray;
    font-size: 14px;
  }
  p {
    color: $gray;
    font-size: 14px;
  }
}

.roboto-gray-bold-small {
  h1 {
    color: $gray;
    font-size: 14px;
    font-weight: 400;
  }
  p {
    color: $gray;
    font-size: 14px;
    font-weight: 400;
  }
}

.roboto-black-small {
  p {
    color: black;
    font-size: 14px;
  }
}

.page-lower {
  margin-top: 60px;
}

.card-section {
  padding-left: 5px;
  padding-right: 5px;
}
