body {
  h1, h6 {
    color: black;
    font-weight: 300;
  }
  h1 {
    font-size: 20px;
    margin: 0;
  }
  p {
    color: $gray;
    margin: 0;
    font-weight: 300;
  }
}

.general-styling {
  margin-left: 200px;
  margin-right: 200px;
}
