#banner {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.home-lower {
  margin-top: 60px;
}

.home-slider {
  margin-top: 20px;
}

.home-slider-item {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 10px;
  p {
    font-size: 13px;
  }
}

.home-slider-picture {
  background-size: cover;
  background-position: center;
  height: 150px;
}

.home-slider-plus {
  background-color: $light-gray;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-sign {
  height: 30px;
}
