<div class="footer">
  <div class="footer-left">
    <p>© 2018 Kaizo Studio, tous droits réservés. <%= link_to "Mentions légales.", root_path %></p>
  </div>

  <div class="footer-right">
    <%= link_to "https://www.facebook.com/kaizostudio", target: :_blank do %>
      <i class="fab fa-facebook-f"></i>
    <% end %>
    <%= link_to "https://www.instagram.com/kaizostudio/", target: :_blank do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to "https://fr.pinterest.com/kaizostudio/", target: :_blank do %>
      <i class="fab fa-pinterest"></i>
    <% end %>
  </div>
</div>
