<div class="page-upper">
  <div class="row">
    <div class="page-left col-md-6 col-sm-12">
      <h1>Nous contacter</h1>

      <br>

      <div class="roboto-black-small">
        <p>Sur rendez-vous du lundi au vendredi de 9h à 18h30</p>
      </div>

      <br>

      <div class="contact-info roboto-black-small">
        <div class="contact-info-left">
          <i class="fas fa-map-marker-alt"></i> <p>94 av. du Général Leclerc, Bourg-la-Reine</p>
        </div>
        <div class="contact-info-right">
          <%= link_to "https://www.facebook.com/kaizostudio", target: :_blank do %>
            <i class="fab fa-facebook-f"></i>
          <% end %>
          <%= link_to "https://www.instagram.com/kaizostudio/", target: :_blank do %>
            <i class="fab fa-instagram"></i>
          <% end %>
        </div>
      </div>

      <div class="map">

      </div>
    </div>
    <div class="page-right col-md-6 col-sm-12">
      <h1>Hello</h1>
    </div>
  </div>
</div>
