<!-- SEO -->
<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} | Contact" %>



<div class="page-upper">
  <div class="row">
    <div class="page-left col-md-8 col-sm-12">
      <h1>Nous contacter</h1>

      <br>

      <div class="roboto-black-small">
        <p>Sur rendez-vous du lundi au vendredi de 9h à 18h30</p>
      </div>

      <br>

      <div class="contact-info roboto-black-small">
        <div class="contact-info-left">
          <i class="fas fa-map-marker-alt"></i> <p>94 av. du Général Leclerc, Bourg-la-Reine</p>
        </div>
        <div class="contact-info-right">
          <%= link_to "https://www.facebook.com/kaizostudio", target: :_blank do %>
            <i class="fab fa-facebook-f"></i>
          <% end %>
          <%= link_to "https://www.instagram.com/kaizostudio/", target: :_blank do %>
            <i class="fab fa-instagram"></i>
          <% end %>
        </div>
      </div>

      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8841.11109571648!2d2.310137054594033!3d48.77952595708218!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e670d5f28d9553%3A0x575c45fe35959c85!2s94+Avenue+du+G%C3%A9n%C3%A9ral+Leclerc%2C+92340+Bourg-la-Reine!5e0!3m2!1sfr!2sfr!4v1536324493920" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        <!-- <iframe src="https://snazzymaps.com/embed/96668" width="600px" height="300px" style="border:none;"></iframe> -->
        <!-- <iframe src="https://snazzymaps.com/embed/96668" width="600px" height="300px" style="border:none;"></iframe> -->
      </div>
    </div>
    <div class="page-right col-md-4 col-sm-12">
      <h1>Hello</h1>
    </div>
  </div>
</div>


<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
