<div class="page-upper">
  <div class="row">
    <div class="page-left col-md-6 col-sm-12">
      <h1 class="roboto-black-big"><%= @realisation.title %></h1>
      <br>
      <p><%= @realisation.description %></p>
    </div>
    <div class="page-right col-md-6 col-sm-12"></div>
  </div>
</div>



