<div class="page-upper">
  <div class="row">
    <div class="page-left col-md-6 col-sm-12">
      <h1 class="roboto-black-big"><%= @realisation.title %></h1>
      <br>
      <p><%= @realisation.description %></p>
    </div>
    <div class="page-right col-md-6 col-sm-12">
      <div class="photo-box">
        <% if @realisation.pictures.nil? %>
          <h1>Hello</h1>
        <% else %>
          <% @realisation.pictures.each do |p| %>
              <%= cl_image_tag p.url, width: 150 %>
          <% end %>

        <% end %>

      </div>
    </div>
  </div>
</div>



