.index-item-picture {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.index-item {
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 0px;

  position: relative;
}


.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: white;
}

.index-item:hover .overlay {
  opacity: 0.6;
}
