#logo {
  height: 30px;
}

.header {
  height: 70px;
  padding-top: 20px;
  a {
    color: $gray;
    text-decoration: none;
    font-weight: 100;
    &:hover {
      color: black;
    }
  }
  .active {
  color: black;
  }
  h6 {
    font-weight: 100;
    padding-top: 5px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#phone {
  font-weight: 300;
  color: black;
  font-size: 15px;
  padding-top: 5px;
}
