.slideshow-picture {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.modal-body {
  margin: auto;
}

.carousel-control {
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    font-size: 50px;
  }
}








.active-slide-2 {
  display: block !important;
  z-index: 2;
}

.slide-2 {
  display: none;
}

.slider-2 {
  position: relative;
}
